{% extends 'base.html.twig' %}

{% block title %}LigneCommande index{% endblock %}

{% block body %}
    <h1>LigneCommande index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qte</th>
                <th>Date_c</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.qte }}</td>
                <td>{{ ligne_commande.dateC ? ligne_commande.dateC|date('Y-m-d') : '' }}</td>
                <td>
                   <button type="button" class="btn btn-primary"><a href="{{ path('ligne_commande_show', {'id': ligne_commande.id}) }}">show</a></button>
                    <button type="button" class="btn btn-warning"><a href="{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-outline-danger"><a href="{{ path('ligne_commande_new') }}">Create new</a></button>
{% endblock %}
